<div class="vertical">
    <span class="item">{{ui-datepicker-datebar toggleCalendar='toggleCalendar' when=value}}</span>
    <span class="item">{{ui-datepicker-calendar visibility=calendarVisibility class='hidden' when=value todayHightlight=true}}</span>
</div>