<div class="container">
    <h1 id="title">ui-datepicker</h1>
    <h2>a horizontal bar which indicates a date and allows for easy switching to other dates</h2>
    
    <h3>Basic Setup</h3>
    <div class="row">
        <desc>
            If no parameters are included the control will assume a date of TODAY.
        </desc>        
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="window {{device}}">
                {{ui-datepicker}}
            </div>
        </div>
    </div>
    
    <h3>Properties</h3>
    <desc>
        The properties exposed by this component are:
        <ul>
            <li>
                <code>value</code> - a JS Date
            </li>
            <li>
                <code>date</code> - a "YYYY-MM-DD" string representation of the date (has setter as well as getter)
            </li>
            <li>
                <code>namedDate</code> - resolves to a string of either 'yyyy-dd-mm' format or for near-term dates it resolves to the 
                dynamic reference "yesterday", "today" and "tomorrow". There is a setter as well as a getter on <em>namedDate</em>.
            </li>
            <li>
                <code>desc</code> - compact prose on how much time exists between the chosen date and today (from momentjs's calendar function)
            </li>
            <li>
                <code>days</code> - the number of days since today (negative if in the past)
            </li>
            <li>
                <code>visibility</code> - a boolean flag which indicates whether the calendar is visible or not
            </li>
        </ul>
        
        Both <em>value</em> and <em>date</em> have two-way binding so setting either property is allowed and will effect the other.
    </desc>
    
    <h3>Component Structure</h3>
    
    The <code>ui-datepicker</code> component's template structures the following sub-components:
    <indent>
        {{#code-block lang='html' class='smaller'}}
<div class="vertical">
    <span class="item">
        \{{ui-datepicker-datebar 
            toggleCalendar='toggleCalendar' 
            when=value
        }}
    </span>
    <span class="item">
        \{{ui-datepicker-calendar 
            visibility=calendarVisibility 
            class='hidden' 
            when=value 
            todayHightlight=todayHighlight <!-- default is true -->
        }}
    </span>
</div>
        {{/code-block}}        
    </indent>

</div>
