<h3>Intro: Block Format</h3>
<p>
  The block format allows you to take over control at any level of the component structure. Because there are so many variations we've broken the demo into three demo's:
</p>

<h3>Demos</h3>

<div class="row">
  <div class="col-xs-10">
    {{#ui-markdown}}
      The three demos are:

      - **One** - a simple block example which uses blocks all the way to the ground to illustrate composition but doesn't make much attempt to do anything "bespoke"
      - **Two** - Lorem ipsum dolor sit amet
      - **Three** - Lorem ipsum dolor sit amet
    {{/ui-markdown}}
  </div>
  <div class="col-xs-2">
    {{ui-buttons
      orient='vertical'
      fill=true
      align='center'
      buttons='Demo 1::1,Demo 2::2,Demo 3::3'
      value=whichDemo
      onChange=(action 'chooseDemo')
      cardinality='1:1'
    }}
  </div>
</div>
{{#ui-markdown}}
  ---
{{/ui-markdown}}

{{outlet}}
